.upvote {
    background-color: rgb(79, 204, 79);
    color: rgb(18, 71, 42);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .downvote {
    background-color: tomato;
    color: rgb(228, 166, 166);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .upvote:hover {
    color: rgb(29, 221, 29);
    background-color: rgb(255, 255, 255);
  }
  .downvote:hover {
    color: red;
    background-color: rgb(250, 156, 140);
  }
  .icon {
    font-size: 1.3rem;
  }
  